{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Welcome to CKAN") }}</h1>
      <p>
        {% trans %}
          This is the 'promoted text' outlined in the file promoted.html in home/snippets.
          Just making a few changes so I can see what works and what doesn't when I restart CKAN.
        {% endtrans %}
      </p>
    {% endif %}
  </header>

  {% block home_image %}
    <section class="featured media-overlay hidden-xs">
      <h2 class="media-heading">{% block home_image_caption %}{{ _("This is a featured section") }}{% endblock %}</h2>
      {% block home_image_content %}
        <a class="media-image" href="#">
          <img class="img-responsive" src="{{ h.url_for_static('/images/tdp-blob.png') }}" alt="Placeholder" width="420" height="220" />
        </a>
      {% endblock %}
    </section>
  {% endblock %}
</div>
