/*!
 * CSS for new TDP theme - testing ideas
 */

@import url('https://fonts.googleapis.com/css?family=Chivo|Lora|Space+Mono:700&display=swap');
:root {
  /* chart colours */
  --main: mediumaquamarine;
  --tdp-teal: #80f2e6;
  --tdp-yellow: #fce762;
  --tdp-blue: #b8f2e6;
  --tdp-grey: #bfe0dd;
  --bgbody: rgba(245,255,250,0.25); /* mintcream 25% */
  --outline: darkslategray;
  --fade: gainsboro;
  --dark: darkslategray;
  --tint: paleturquoise;
  --dull: cadetblue;
  --calm: gray;
  --pop: coral; /* tomato also an option */
  --night: #202020;
  --warm: ivory;
}

/* FONTS AND HEADERS */

body {
  font-family: Chivo;
}

h1,.h1,h2,.h2,h3,.h3 {
  font-family: Lora;
}

/* HERO IMAGE */

@media (min-width: 768px) {
  .hero {
    background: url("../../../images/postit.png");
  }
}

@media (min-width: 768px) {
  [role=main], 
  .main {
    background: url("../../../images/postit.png");
  }
}

.account-masthead {
  background-color: var(--night);
}

.site-footer {
  background-color: var(--night);
}

.masthead {
  background-color: var(--dark);
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li.active a {
  background-color: var(--night);
}

.module-content {
  background-color: var(--dark);
}

.homepage
.module-shallow
.module-content {
  background-color: var(--dark);
}
.homepage
.module-search
.tags {
  background-color: var(--tdp-dark);
}
/* ------------------------------------------- */
